html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.help-tip {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(304.8px, 336.8px, 0px);
}
.flow-item-label {
  padding-top: 10px;
  background-color: #ffffff;
}